@model IEnumerable<WebApplication3.Models.Category>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<div class="py-3 py-md-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4 class="mb-4">All Categories</h4>
            </div>

            @foreach (var cat in Model)
            {
                <div class="col-md-3">
                    <div class="product-card">
                        <div class="product-card-img">
                        </div>
                        <div class="product-card-body">
                            <h5 class="product-name">
                                <a asp-route-controller="Categories" asp-route-action="Details" asp-route-id="@cat.CategoryId">
                                    @cat.Name
                                </a>
                            </h5>
                        
                            <div class="mt-2">
                                <a class="btn btn1" style="width:150px;height:40px" asp-route-action="Details" asp-route-controller="Categories" asp-route-id="@cat.CategoryId">
                                    <b>View</b>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>















<style>
    .form-control {
        margin-right: 10px
    }

    .product-card {
        background-color: #fff;
        border: 1px solid #ccc;
        margin-bottom: 24px;
    }

        .product-card a {
            text-decoration: none;
        }

        .product-card .stock {
            position: absolute;
            color: #fff;
            border-radius: 4px;
            padding: 2px 12px;
            margin: 8px;
            font-size: 12px;
        }

        .product-card .product-card-img {
            max-height: 260px;
            overflow: hidden;
            border-bottom: 1px solid #ccc;
        }

            .product-card .product-card-img img {
                width: 100%;
            }

        .product-card .product-card-body {
            padding: 10px 10px;
        }

            .product-card .product-card-body .product-brand {
                font-size: 14px;
                font-weight: 400;
                margin-bottom: 4px;
                color: #937979;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .product-card .product-card-body .product-name {
                font-size: 20px;
                font-weight: 600;
                color: #000;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }

            .product-card .product-card-body .selling-price {
                font-size: 20px;
                color: #000;
                font-weight: 600;
                margin-right: 8px;
            }

            .product-card .product-card-body .btn1 {
                border: 1px solid;
                margin-right: 3px;
                border-radius: 0px;
                font-size: 12px;
                margin-top: 10px;
            }

</style> 