@model WebApplication3.ModelView.CartViewModel

@{
    ViewData["Title"] = "My Cart";
}

<h1>Your Shopping Cart</h1>

@if (Model.CartItems?.Any() != null)
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var cartItem in Model.CartItems)
            {
                <tr>
                    <td>@cartItem?.Product?.Name.ToString()</td>
                    <td>@cartItem?.Quantity</td>
                    <td>@(cartItem?.Product?.Price ?? 0)</td>
                    <td>@(cartItem?.Quantity * (cartItem?.Product?.Price ?? 0))</td>
                    <td>
                        <a asp-action="RemoveFromCart" asp-controller="CartItems" asp-route-productId="@cartItem.Product.ProductId" class="btn btn-danger">Remove</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3"><strong>Total:</strong></td>
                <td colspan="2"><strong>@Model.TotalPrice.ToString("C")</strong></td>
            </tr>
        </tfoot>
    </table>
    <a asp-action="Checkout" asp-controller="CartItems"  class=" btn btn-primary"> Checkout </a>
}
else
{
    <p>Your cart is currently empty.</p>
}

@section Scripts {
    <script>
        $(document).ready(function () {
            $("form[asp-action='RemoveFromCart']").submit(function (e) {
                var confirmation = confirm("Are you sure you want to remove this item from your cart?");
                if (!confirmation) {
                    e.preventDefault();
                }
            });
        });
    </script>
}